<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">

    <jee:local-slsb jndi-name="java:app/mo-core-logic-impl-1.0/UserManagementSessionEJB!com.karlchu.mo.core.business.UserManagementLocalBean" business-interface="com.karlchu.mo.core.business.UserManagementLocalBean" id="userManagementSessionEJB"/>
    <jee:local-slsb jndi-name="java:app/mo-core-logic-impl-1.0/PermissionManagementSessionEJB!com.karlchu.mo.core.business.PermissionManagementLocalBean" business-interface="com.karlchu.mo.core.business.PermissionManagementLocalBean" id="permissionManagementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/mo-core-logic-impl-1.0/RoleManagementSessionEJB!com.karlchu.mo.core.business.RoleManagementLocalBean" business-interface="com.karlchu.mo.core.business.RoleManagementLocalBean" id="roleManagementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/mo-core-logic-impl-1.0/UserGroupManagementSessionEJB!com.karlchu.mo.core.business.UserGroupManagementLocalBean" business-interface="com.karlchu.mo.core.business.UserGroupManagementLocalBean" id="userGroupManagementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/mo-core-logic-impl-1.0/UserRoleManagementSessionEJB!com.karlchu.mo.core.business.UserRoleManagementLocalBean" business-interface="com.karlchu.mo.core.business.UserRoleManagementLocalBean" id="userRoleManagementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/mo-core-logic-impl-1.0/RoleAclManagementSessionEJB!com.karlchu.mo.core.business.RoleAclManagementLocalBean" business-interface="com.karlchu.mo.core.business.RoleAclManagementLocalBean" id="roleAclManagementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/mo-core-logic-impl-1.0/UserGroupAclManagementSessionEJB!com.karlchu.mo.core.business.UserGroupAclManagementLocalBean" business-interface="com.karlchu.mo.core.business.UserGroupAclManagementLocalBean" id="userGroupAclManagementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/mo-core-logic-impl-1.0/TipManagementSessionEJB!com.karlchu.mo.core.business.TipManagementLocalBean" business-interface="com.karlchu.mo.core.business.TipManagementLocalBean" id="tipManagementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/mo-core-logic-impl-1.0/TipCategoryManagementSessionEJB!com.karlchu.mo.core.business.TipCategoryManagementLocalBean" business-interface="com.karlchu.mo.core.business.TipCategoryManagementLocalBean" id="tipCategoryManagementLocalBean"/>


    <bean id="userSecurityAdvice" class="com.karlchu.mo.web.security.MyUserDetailService">
        <property name="userManagementLocalBean" ref="userManagementSessionEJB"/>
    </bean>

    <bean id="propertyConfigurer" class="com.karlchu.mo.web.util.MyPropertyConfigurer"></bean>

</beans>
